# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\课程\三级联动\3LevenlLinkAge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
