<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>myjsp</display-name>
  <servlet>
    <servlet-name>SingerListServlet</servlet-name>
    <servlet-class>com.pxy.servlet.SingerListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SongListSerlvet</servlet-name>
    <servlet-class>com.pxy.servlet.SongListSerlvet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>SingerListServlet</servlet-name>
    <url-pattern>/singer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SongListSerlvet</servlet-name>
    <url-pattern>/song</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>